.header{
    background-image: url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
}
.lead{
    color: black;
}
.download{
    background-image: url(../images/download-background.jpg) center center no-repeat;
}